<nav>
  <ul>
    <li>
      <a routerLink = "" [class.activated]="currentUrl == '/' " title="Home">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>

    <li>
      <a routerLink = "posts" [class.activated]="currentUrl == '/posts' " title="Posts">
        <i class="material-icons">message</i>
      </a>
    </li>

    <li>
      <a routerLink = "myAccessiblePipes" [class.activated]="currentUrl == '/myAccessiblePipes'" title="My accessible Pipes">
        <i class="material-icons">accessibility new</i>
      </a>
    </li>

    <li>
        <a routerLink = "myAccessibleDirectives" [class.activated]="currentUrl == '/myAccessibleDirectives'" title="My accessible Directive">
          <i class="material-icons">announcement</i>
        </a>
   </li>
  </ul>
</nav>
