<!-- routerlinkactive concepts need to know -->
<nav>    
  <ul>
    <li>
      <a routerLink = "" [class.activated]="currentUrl == '/' || currentUrl == '/home' "  title="Home">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>

    <li>
      <a routerLink = "posts" [class.activated]="currentUrl == '/posts' " title="Posts">
        <i class="material-icons">message</i>
      </a>
    </li>

    <li>
      <a routerLink = "myAccessiblePipes" [class.activated]="currentUrl == '/myAccessiblePipes'" title="My Accessible Pipes">
        <i class="material-icons">accessibility new</i>
      </a>
    </li>

    <li>
        <a routerLink = "myAccessibleDirectives" [class.activated]="currentUrl == '/myAccessibleDirectives'" title="My Accessible Directive">
          <i class="material-icons">announcement</i>
        </a>
   </li>

   <li>
    <a routerLink = "myObservables" [class.activated]="currentUrl == '/myObservables'" title="My Observables">
      <i class="material-icons">faces</i>
    </a>
   </li>
  </ul>
</nav>
